.biography_postTitle, #biography_postMainTitle, .biography_postParagraph, #biography_postSkillsList{
  color: #282C34;
  font-weight: normal;
  font-family: sans-serif;
}

.biography_postTitle{
  border-bottom: 2px solid #EDF0F1;
  font-size: 22px;
}

#biography_postMainTitle{
  border-bottom: 2px solid #EA4F1F;
  font-size: 25px;
}

.biography_postParagraph{
  margin-left: 10px;
}

.material-icons{
  color: #EA4F1F;
  font-size: 20px;
}
