#biography_personnal
{
  float: left;
  width: 50%;
  height: 50px;
  background-color: #;
}
.biography_legend
{
  float: left;
  width: 50%;
  height: 50px;
  background-color: #;
}
.biography_label
{
  float: left;
  width: 50%;
  height: 50px;
  background-color: #;
}
